<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>MacPhone uses Bluetooth to bridge BLE accessories to emulator and simulator test clients.</string>
	<key>SUFeedURL</key>
	<string>https://github.com/jx-grxf/MacPhone/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>$(MACPHONE_SPARKLE_PUBLIC_KEY)</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>3600</integer>
</dict>
</plist>
